.vs
obj
bin
bin/*
deploy
deploy/*
_ReSharper.*
*.user
*.suo
*.cache
*.Cache
Thumbs.db
**/packages
.idea
*.received.*
.DS_Store

/artifacts

# docs site
docs/node_modules
docs/.vitepress/dist
docs/.vitepress/cache
docs/guide
docs/public
